@import url(fontawesome-all.min.css);

@font-face {
    font-family: 'mabry-light-pro';
    src: url('../webfonts/BrittenPearsMabryPro-Light.eot');
    src: url('../webfonts/BrittenPearsMabryPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/BrittenPearsMabryPro-Light.woff2') format('woff2'),
         url('../webfonts/BrittenPearsMabryPro-Light.woff') format('woff'),
         url('../webfonts/BrittenPearsMabryPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mabry-light-italic-pro';
    src: url('../webfonts/BrittenPearsMabryPro-LightItalic.eot');
    src: url('../webfonts/BrittenPearsMabryPro-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/BrittenPearsMabryPro-LightItalic.woff2') format('woff2'),
         url('../webfonts/BrittenPearsMabryPro-LightItalic.woff') format('woff'),
         url('../webfonts/BrittenPearsMabryPro-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mabry-black-pro';
    src: url('../webfonts/BrittenPearsMabryPro-Black.eot');
    src: url('../webfonts/BrittenPearsMabryPro-Black.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/BrittenPearsMabryPro-Black.woff2') format('woff2'),
         url('../webfonts/BrittenPearsMabryPro-Black.woff') format('woff'),
         url('../webfonts/BrittenPearsMabryPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*/

html {
		font-size: 18pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 14pt;
			}

		}

		@media screen and (max-width: 1280px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 360px) {

			html {
				font-size: 10pt;
			}

		}

	body {
		background-color: #ffffff;
		color: #000000;
	}

	body, input, select, textarea {
		font-family: "mabry-light-pro", Helvetica, sans-serif;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.65;
	}



	a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: 400;
	}

	em, i {
		font-family: "mabry-light-italic-pro", Helvetica, sans-serif;
		font-style: italic;
	}

	p {
		margin: 0 0 2rem 0;
	}

		p.major {
			font-size: 1.25rem;
		}

	h1, h2, h3, h4, h5, h6 {
		font-family: "mabry-black-pro", Helvetica, sans-serif;
		line-height: 1.375;
		margin: 0 0 1rem 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 3.5rem;
		line-height: 1.2;
	}

	h2 {
		font-size: 2.25rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.1rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	h6 {
		font-size: 0.7rem;
	}
